= render 'file_nav'

.file-box
  .file
    .meta.clearfix
      .info.file-name
        %span= File.basename(params[:path])
        %span.meta-divider
        %span= number_to_human_size @blob.size
      .actions
        = link_to repo_edit_file_path(repo: params[:repo], ref: params[:ref], path: params[:path]),  class: 'octicon-button' do
          %span.octicon.octicon-pencil
    .blob-wrapper.data{class: "type-#{Linguist.new(params[:path]).language.ace_mode}"}
      - if @blob.binary?
        %p Binary file not shown
      - else
        ~ highlight_code(@blob.text.force_encoding("UTF-8"), Linguist.new(params[:path]).language.ace_mode).html_safe
