.commit.full-commit
  %p.commit-title
    = @commit.message
  .commit-meta.clearfix
    .sha-block
      commit
      %span.sha= @commit.oid
    .sha-block
      = pluralize(@commit.parents.size, 'parent')
      - abbrev_sha(@commit.parent_ids) do |short, oid|
        = link_to short, repo_commit_path(repo: params[:repo], oid: oid)
    .authorship
      %span.author-name= @commit.author[:name]
      authored on
      = @commit.author[:time].strftime("%Y-%m-%d %H:%M")

#toc.details-collapse.table-of-contents.open
  .toc-diff-stats
    %span.octicon.octicon-diff
    Showing #{@diff.stat[0]} changed #{'file'.pluralize(@diff.stat[0])} with
    %strong #{number_with_delimiter(@diff.stat[1])} #{'addition'.pluralize(@diff.stat[1])}
    and
    %strong  #{number_with_delimiter(@diff.stat[2])} #{'addition'.pluralize(@diff.stat[2])}
  %ol.content.collapse
    - @diff.each_patch.with_index do |patch, index|
      - delta = patch.delta
      %li
        %span.diffstat
          %span.lines-added
            %span.diffstat-icon +
            = patch.stat[0]
          %span.lines-deleted
            %span.diffstat-icon -
            = patch.stat[1]

        = content_tag :span, nil, class: 'octicon octicon-diff-' + delta.status.to_s, title: delta.status.to_s
        = link_to format_filename(delta), "#diff-#{index}"
#files.file-box.diff-view
  - @diff.each_patch.with_index do |patch, index|
    = render partial: 'file_patch', locals: {patch: patch, index: index}
